.page-header {
	padding: $page-content-padding-h;
	background-color: $color-primary;

	&__content {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
	}

	&__title {
		margin: 0;
	}

	&__back {
		position: absolute;
		left: 0;
	}
}